.form-component {
  width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid gray;
  text-align: center;

  h2 {
    text-align: left;
  }

  .buttons {
    margin: 1rem 1rem;
  }

  .text {
    font-size: 1.5rem;

    &.red {
      color: red;
    }

    &.blue {
      color: blue;
    }

    &.green {
      color: green;
    }
  }
}
