<div class="form-component">
  <h2>Form module</h2>
  <!--  <p class="text" [ngClass]="{-->
  <!--    blue: textColor === 'blue',-->
  <!--    green: textColor === 'green',-->
  <!--    red: textColor === 'red'-->
  <!--  }">-->
  <p class="text"
     [class.blue]="textColor === 'blue'"
     [class.red]="textColor === 'red'"
     [class.green]="textColor === 'green'"
  >
    {{ text }}
  </p>
  <div class="buttons">
    <button (click)="textColor='blue'">Set blue</button>
    <button (click)="textColor='green'">Set green</button>
    <button (click)="textColor='red'">Set red</button>
  </div>
  <div>
    <label for="input-details">Details text: </label>
    <input id="input-details" type="text" [(ngModel)]="inputText">
    <button (click)="releaseText()">Release text</button>
  </div>
</div>
